<div>
     <form action="/" method="POST">
        Nombre: <input type="text" name="title" /> Precio:
        <input type="number" name="price" /> Imagen: <input type="text" name="thumbnail" />
        <button>Enviar</button>
    </form> 
    <button>ir a productos</button>
</div>
